[submodule "plugins/start/vim-sensible"]
	path = plugins/start/vim-sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule "plugins/start/vim-airline"]
	path = plugins/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "plugins/start/gruvbox"]
	path = plugins/start/gruvbox
	url = git@github.com:morhetz/gruvbox.git
[submodule "plugins/start/nerdtree"]
	path = plugins/start/nerdtree
	url = git@github.com:preservim/nerdtree.git
